.th1 {
font-size: 1.1em;
position:relative;
margin-left:20px;
}

.th2 {
font-size: 1.1em;
position:relative;
margin-left:130px;
}

.th3 {
font-size: 1.1em;
position:relative;
margin-left:140px;
}

.th4 {
font-size: 1.1em;
position:relative;
margin-left:20px;
}
